<% if user_signed_in? %>
  <div class="wrapper">
    <div class="side-bar">
      <div class="side-bar__lists">
        <div class="side-bar__lists__list">
          <%= link_to record_path(current_user) do %>
            <i class="fa fa-android fa2-x"></i>
            Mypage
          <% end %>
        </div>
        <div class="side-bar__lists__list">
          <%= link_to new_record_path do %>
            <i class="fas fa-edit fa2-x"></i>
            Data form
          <% end %>
        </div>
        <div class="side-bar__lists__list">
          <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-cog fa2-x"></i>
            Edit user info
          <% end %>
        </div>
        <div class="side-bar__lists__list">
          <a href="#" class="btn" data-action="toggle" data-side="right"><i class="fas fa-users fa2-x"></i>Other user</a>
        </div>
        <div class="side-bar__lists__list">
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fas fa-sign-out-alt fa2-x"></i>
            Logout
          <% end %>
        </div>
      </div>
    </div>
    <div class="main-record">
      <div class="main-record__header">
        <div class="main-record__header__name">
          <%= current_user.name %>
        </div>
      </div>
    </div> 
    <div class="sidebar right">
      <%= render "search" %> 
    </div>
  </div>
<% else %>
  <div class="wrapper select">
    <div class="select__box">
      <div class="select__box__left">
        <%= image_tag '767652_m 2.JPG' %>
      </div>
      <div class="select__box__right">
        <div class="select__box__right__sign-in">
          <%= link_to "Sign In", new_user_session_path %>
        </div>
        <div class="select__box__right__sign-up">
          <%= link_to "Sign Up", new_user_registration_path, class:'left__box' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function () {
    var sides = ["right"];
    for (var i = 0; i < sides.length; ++i) {
      var cSide = sides[i];
      $(".sidebar." + cSide).sidebar({side: cSide});
    }
    $(".btn[data-action]").on("click", function () {
      var $this = $(this);
      var action = $this.attr("data-action");
      var side = $this.attr("data-side");
      $(".sidebar." + side).trigger("sidebar:" + action);
      return false;
    });
  });
</script>