<% if user_signed_in? %>
  <div class="wrapper">
    <div class="side-bar">
      <div class="side-bar__lists">
        <div class="side-bar__lists__list">
          <%= link_to root_path do %>
            <i class="fas fa-crown  fa2-x"></i>
            Toppage
          <% end %>
        </div>
        <div class="side-bar__lists__list">
          <%= link_to record_path(current_user) do %>
            <fa2-x class="fa fa-android fa2-x">
            Mypage
          <% end %>
        </div>
        <div class="side-bar__lists__list">
          <%= link_to new_record_path do %>
            <i class="fas fa-edit fa2-x"></i>
            Data form
          <% end %>
        </div>
        <div class="side-bar__lists__list">
          <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-cog fa2-x"></i>
            Edit user info
          <% end %>
        </div>
        <div class="side-bar__lists__list">
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fas fa-sign-out-alt fa2-x"></i>
            Logout
          <% end %>
        </div>
      </div>
    </div>
    <div class="main-record">
      <div class="main-record__header">
        <div class="main-record__header__name">
          <%= current_user.name %>
        </div>
      </div>
      <div class="main-record__graph">
        <%= render "graph" %>
      </div>
      <div class="form">
        <%= form_for(@record) do |f| %>
          <div class="input-box">
            <%= f.datetime_field :date, value: Time.now.strftime("%Y-%m-%dT%H:%M") %>
            <%= f.text_field :value, class: 'form__record__value', placeholder: '体温を入力してください' %>
          </div>
          <%= f.submit 'Send', class: 'form__submit' %>
        <% end %>
      </div>
    </div>
  </div> 
<% else %>
  <div class="wrapper select">
    <div class="select__box">
      <div class="select__box__left">
        <%= image_tag '767652_m 2.JPG' %>
      </div>
      <div class="select__box__right">
        <div class="select__box__right__sign-in">
          <%= link_to "Sign In", new_user_session_path %>
        </div>
        <div class="select__box__right__sign-up">
          <%= link_to "Sign Up", new_user_registration_path, class:'left__box' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
      