<div class="wrapper">
    <div class="chat-side">
      <div class="side-header">
        <div class="side-header__box">
          <p class="side-header__box__logo">
            TEMP APP
          </p>
        </div>
      </div>
    </div> 
    <div class="chat-main">
      <div class="chat-main__header">
        <div class="chat-main__header__left">
          <p class="chat-main__header__left__current-name">
            <%= current_user.name %>
          </p>
        </div>
        <div class="grid-6">
          <%= link_to "Edit", edit_user_path(current_user), class: "chat-main__header__left__edit-btn" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'chat-main__header__left__logout-btn' %>
        </div>
      </div>
      <div class="records">
        <%= render "graph" %>
      </div>
      <div class="form">
        <%= form_for(@record) do |f| %>
          <div class="input-box">
            <%= f.datetime_field :date, value: Time.now.strftime("%Y-%m-%dT%H:%M") %>
            <%= f.text_field :value, class: 'form__record__value', placeholder: '体温を入力してください' %>
          </div>
          <%= f.submit 'Send', class: 'form__submit' %>
        <% end %>
      </div>
    </div>