.wrapper.select
  #account-page.account-page
    .account-page__header
      %p Log in
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :email do
              %i.far.fa-envelope Email
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label :password do
                %i.fas.fa-key Password (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "Log in", class: 'btn login'
            -# = render "devise/shared/links"
